{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : View Advanced Deploy == #}
{# == Node Type Description    : This node creates a view with addition of qualify filter == #}


{% if desiredState %}


	   {% if currentState == undefined or currentState != desiredState %}
        {{ stage('Create View', true, "sql", "create") }}
        

        CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
        (
            {% for col in desiredState.columns %}
                "{{ col.name }}"
                {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
                {%- if not loop.last -%}, {% endif %}
            {% endfor %}
        )
        {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}
        AS
        {% for source in desiredState.sources %}
            SELECT
            {% for col in source.columns %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"
                {%- if not loop.last -%}, {% endif %}
            {% endfor %}

            {{ source.join }}
             {%if desiredState.config.qualify -%}
             {%if desiredState.config.compcol -%}               
                   QUALIFY {{source.columns[0].sourceColumns[0].node.name}}{{'.'~desiredState.config.winfuncColName.name}} {{desiredState.config.oprt}} {%if desiredState.config.winfuncColName is not defined or desiredState.config.winfuncColName is none%}{{desiredState.config.winfunc~'()'}}  {%else%} {{desiredState.config.winfunc~'('}}{{source.columns[0].sourceColumns[0].node.name}}{{'.'~desiredState.config.winfuncColName.name~')'}} {%endif%}
              OVER ({%if desiredState.config.partitionby %}PARTITION BY  {{ partition_by() }}{% endif %}{% if desiredState.config.orderby %} {{ sortorder_by_colv() }} {% endif %})
             {%else -%}
              QUALIFY {%if (desiredState.config.winfuncColName is not defined or desiredState.config.winfuncColName is none) and desiredState.config. winfunc != 'NTILE' and config.winfunc != 'CUME_DIST' %}{{config.winfunc~'()'}} {%elif config.winfunc == 'NTILE'or config.winfunc == 'CUME_DIST' %} {{desiredState.config.winfunc~'('}}{{desiredState.config.ntileval~')'}}
               {%else%} {{config.winfunc~'('}}{{source.columns[0].sourceColumns[0].node.name}}{{'.'~desiredState.config.winfuncColName.name~')'}} {%endif%}
              OVER ( {%if desiredState.config.partitionby %}PARTITION BY  {{ partition_by() }}{% endif %}{% if desiredState.config.orderby %} {{ sortorder_by_colv() }} {% endif %}) {{config.oprt}} {{config.val}}
              {%endif%}
             {%endif%}
        {% endfor %}
    {% endif %}	
	
{%endif%}