{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : SQL Work Advanced Deploy == #}
{# == Node Type Description    : This node creates work/stage table, transient table or view with advanced deployment strategy  == #}
{#---------------------------------------------------------------------------------------------#}

{%- set nsNodeVariables = namespace(currentDatabaseSchema = "",
                                    desiredDatabaseSchema = "",
                                    desObjectNameFullPath = "",
                                    curObjectNameFullPath = "",
                                    metaDataChanged = false) %}
{{ initializeNodeVariables(nsNodeVariables) }}

{%- if desiredState %}
    {%- if desiredState.node.materializationType == 'view' %}

        {%- if currentState != undefined and (currentState.node.materializationType != desiredState.node.materializationType
            or (desiredState.node.name != currentState.node.name
            or nsNodeVariables.desiredDatabaseSchema != nsNodeVariables.currentDatabaseSchema))
        %}
            {{ stage('Drop ' + currentState.node.materializationType) }}
            {%- set materialization = dropMaterialization(currentState.node.materializationType) %}
            DROP {{ materialization }} {{ nsNodeVariables.curObjectNameFullPath }}
        {%- endif %}

        {# CreateSQL for View #}
        {%- if currentState == undefined or (currentState != undefined and currentState != desiredState) %}
            {{ stage('Create ' + desiredState.node.materializationType ) }}
            CREATE OR REPLACE {{ desiredState.node.materializationType }} {{ nsNodeVariables.desObjectNameFullPath }}
            (
                {%- for col in columns %}
                    "{{ col.name }}"
                    {%- if col.description | trim | length > 0 %} COMMENT '{{ col.description | trim | escape }}' {%- endif %}
                    {%- if not loop.last -%}, {%- endif %}
                {%- endfor %}
            )
            {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}' {%- endif %}
            AS
            {{ desiredState.sources[0].cteString }}
            SELECT {%- if get_boolean_config("selectDistinct") == "true" %} DISTINCT {%- endif %}
            {%- for col in desiredState.sources[0].columns %}
                {{ get_source_transform_v2(col) }} AS "{{ col.name }}"
                {%- if not loop.last -%}, {%- endif %}
            {%- endfor %}
            {{ desiredState.sources[0].join }}
        {%- endif %}

    {%- elif desiredState.node.materializationType in ['table', 'transient table']  %}

        {%- if currentState != undefined and currentState.node.materializationType != desiredState.node.materializationType %}
            {{ stage('Drop ' + currentState.node.materializationType) }}
            {%- set materialization = dropMaterialization(currentState.node.materializationType) %}
            DROP {{ materialization }} {{ nsNodeVariables.curObjectNameFullPath }}
        {%- endif %}

        {%- if currentState == undefined or (currentState != undefined and currentState.node.materializationType != desiredState.node.materializationType)  %}

            {# CreateSQL for Table #}
            {{ stage('Create ' + desiredState.node.materializationType ) }}
            CREATE OR REPLACE {{ desiredState.node.materializationType }} {{ nsNodeVariables.desObjectNameFullPath }}
            (
                {%- for col in columns %}
                    "{{ col.name }}" {{ col.dataType }}
                    {%- if col.nullable == false %} NOT NULL {%- endif %}
                    {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }} {%- endif %}
                    {%- if col.description | trim | length > 0 %} COMMENT '{{ col.description | trim | escape }}' {%- endif %}
                    {%- if not loop.last -%}, {%- endif %}
                {%- endfor %}
            )
            {%- if desiredState.node.description | trim | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}' {%- endif %}
            {{ get_clusterby_v2() }}

        {%- elif currentState != undefined and currentState != desiredState and currentState.node.materializationType == desiredState.node.materializationType %}

            {# Rename / Move Object #}
            {%- if (nsNodeVariables.currentDatabaseSchema != nsNodeVariables.desiredDatabaseSchema
                    or currentState.node.name != desiredState.node.name) %}
                {{ stage('Rename and / or Move Table') }}

                ALTER TABLE {{ nsNodeVariables.curObjectNameFullPath }}
                RENAME TO {{ nsNodeVariables.desObjectNameFullPath }}

                {# Metadata changes detected #}
                {%- set nsNodeVariables.metaDataChanged = true %}          
            {%- endif %}

            {# Change table description #}
            {%- if currentState.node.description != desiredState.node.description %}
                {{ stage('Change table description') }}
                ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                SET COMMENT = '{{ desiredState.node.description | escape }}'

                {# Metadata changes detected #}
                {%- set nsNodeVariables.metaDataChanged = true %} 
            {%- endif %}

            {# Drop Columns #}
            {%- set nsVariables = namespace(colchanges=0) %}
            {%- for dropCurCol in currentState.columns %}
                {%- set newColName = getNewColumnName(dropCurCol.id) %}
                {%- if dropCurCol.id not in desiredState.columns | map(attribute="id") and newColName == '' %}
                {%- set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {%- if nsVariables.colchanges == 1 %}
                        {{ stage('Drop Columns') }}
                        ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                        DROP COLUMN 
                    {%- else %}
                        , 
                    {%- endif %}
                    "{{ dropCurCol.name }}"

                    {# Metadata changes detected #}
                    {%- set nsNodeVariables.metaDataChanged = true %} 
                {%- endif %}
            {%- endfor %}

            {# Add Columns #}
            {%- set nsVariables = namespace(colchanges=0) %}
            {%- for addDesCol in desiredState.columns %}
                {%- set prevNames = addDesCol.previousName.parameters if addDesCol.previousName is defined and addDesCol.previousName else [] -%}
                {%- if addDesCol.id not in currentState.columns | map(attribute="id") and (prevNames | length == 0) %}
                {%- set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {%- if nsVariables.colchanges == 1 %}
                        {{ stage('Add Columns') }}
                        ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                        ADD COLUMN
                    {%- else %}
                        ,
                    {%- endif %}
                    "{{ addDesCol.name }}" {{ addDesCol.dataType }}
                    {%- if addDesCol.nullable == false %} NOT NULL {%- endif %}
                    {%- if addDesCol.defaultValue | length > 0 %} DEFAULT {{ addDesCol.defaultValue }} {%- endif %}
                    {%- if addDesCol.description | trim | length > 0 %} COMMENT '{{ addDesCol.description | escape }}' {%- endif %}

                    {# Metadata changes detected #}
                    {%- set nsNodeVariables.metaDataChanged = true %}
                {%- endif %}
            {%- endfor %}

            {# Rename Columns #}
            {%- for renameCurCol in currentState.columns %}
                {%- set newColName = getNewColumnName(renameCurCol.id) %}
                {%- if newColName != '' %}
                        {{ stage('Rename Column ' + renameCurCol.name) }}
                        ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                        RENAME COLUMN "{{ renameCurCol.name }}"
                        TO "{{ newColName }}"

                        {# Metadata changes detected #}
                        {%- set nsNodeVariables.metaDataChanged = true %}
                {%- endif %}
            {%- endfor %}

            {# Change data types etc #}
            {%- set nsVariables.colchanges = 0 %}
            {%- set nsVariables.setDefault = false %}
            {%- for alterCurCol in currentState.columns %}

                {%- set newColName = getNewColumnName(alterCurCol.id) %}
                {%- if newColName != '' %}
                    {%- set desiredCol = desiredState.columns | default([])
                                        | selectattr('id', 'equalto', newColName)
                                        | first
                    %}
                {%- else %}
                    {%- set matchingCols = desiredState.columns | default([])
                                        | selectattr('id', 'equalto', alterCurCol.id)
                                        | list
                    -%}

                    {%- if matchingCols -%}
                        {%- set desiredCol = matchingCols | first -%}
                    {%- else -%}
                        {%- set desiredCol = none -%}
                    {%- endif -%}
                {%- endif %}

                {%- if alterCurCol.id == desiredCol.id or newColName != '' %}
                    {%- set currentDatatype = alterCurCol.dataType %}
                    {%- set currentNullable = alterCurCol.nullable %}
                    {%- set currentDefaultValue = alterCurCol.defaultValue %}
                    {%- set currentDescription = alterCurCol.description %}

                    {%- set desiredColumnName = desiredCol.name %}
                    {%- set desiredDatatype = desiredCol.dataType %}
                    {%- set desiredNullable = desiredCol.nullable %}
                    {%- set desiredDefaultValue = desiredCol.defaultValue %}
                    {%- set desiredDescription = desiredCol.description %}

                    {%- set datatypeTest = currentDatatype == desiredDatatype -%}
                    {%- set nullableTest = currentNullable == desiredNullable -%}
                    {%- set defaultValueTest = currentDefaultValue == desiredDefaultValue -%}
                    {%- set descriptionTest = currentDescription == desiredDescription -%}

                    {%- if (datatypeTest == false 
                            or nullableTest == false
                            or (defaultValueTest == false and desiredDefaultValue == "")
                            or descriptionTest == false) %}
                        {%- set nsVariables.colchanges = nsVariables.colchanges + 1 -%}
                        {# Metadata changes detected #}
                        {%- set nsNodeVariables.metaDataChanged = true %}

                        {%- if nsVariables.colchanges == 1 %}
                            {{ stage('Change Column Attributes') }}
                            ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                            MODIFY
                        {%- endif %}

                        {%- if datatypeTest == false %}
                            {%- if nsVariables.colchanges > 1 %}, {%- endif %}
                            COLUMN "{{ desiredColumnName }}"
                            SET DATA TYPE {{ desiredDatatype }}
                            {%- set nsVariables.colchanges = nsVariables.colchanges + 1 -%}
                        {%- endif %}

                        {%- if nullableTest == false %}
                            {%- if nsVariables.colchanges > 1 %}, {%- endif %}
                            COLUMN "{{ desiredColumnName }}"
                            {%- if desiredNullable == false %} SET {%- else %} DROP {%- endif %} NOT NULL
                            {%- set nsVariables.colchanges = nsVariables.colchanges + 1 -%}
                        {%- endif %}

                        {%- if descriptionTest == false %}
                            {%- if nsVariables.colchanges > 1 %}, {%- endif %}
                            COLUMN "{{ desiredColumnName }}"
                            COMMENT '{{ desiredDescription | escape }}'
                            {%- set nsVariables.colchanges = nsVariables.colchanges + 1 -%}
                        {%- endif %}

                        {%- if defaultValueTest == false and desiredDefaultValue == "" %}
                            {%- if nsVariables.colchanges > 1 %}, {%- endif %}
                            COLUMN "{{ desiredColumnName }}"
                            DROP DEFAULT
                            {%- set nsVariables.colchanges = nsVariables.colchanges + 1 -%}
                        {%- endif %}                                         
                    {%- endif %}
                {%- endif %}
            {%- endfor %}

            {%- if defaultValueTest == false and desiredDefaultValue != "" %}
                {{ stage('⚠️Warning! Currently Unsupported Feature', true) }}
                -- Adding a default for a column, after the table creation, is not supported in Snowflake as of now.
                -- For more info: https://docs.snowflake.com/en/sql-reference/sql/alter-table-column#label-alter-table-column-usage-notes
                select 1=0

                {# Metadata changes detected #}
                {%- set nsNodeVariables.metaDataChanged = true %}
            {%- endif %}

            {# Figure out cluster key changes #}
            {%- set finalClusterKey = '' %}
            {%- if desiredState.config.clusterEnabled and ((currentState.config.clusterEnabled
                    and desiredState.config.clusterEnabled != currentState.config.clusterEnabled)
                    or not currentState.config.clusterEnabled) %}
                    {% set finalClusterKey =  get_cluster_by_v2() %}
            {%- elif not desiredState.config.clusterEnabled and currentState.config.clusterEnabled %}
                    {%- set finalClusterKey = 'DROP CLUSTERING KEY' %}
            {%- endif %}

            {%- if finalClusterKey | trim | length > 0 %}
                {{ stage('Recluster Table') }}
                ALTER TABLE {{ nsNodeVariables.desObjectNameFullPath }}
                {{ finalClusterKey }}

                {# Metadata changes detected #}
                {%- set nsNodeVariables.metaDataChanged = true %}
            {%- endif %}

            {# == Compare source CTEs and Joins == #}
            {%- set cteStringTest = currentState.sources[0].cteString == desiredState.sources[0].cteString %}
            {%- set joinTest = currentState.sources[0].join == desiredState.sources[0].join %}

            {# == Handle undetected metadata changes and Default Update == #}
            {%- if not nsNodeVariables.metaDataChanged and (not cteStringTest or not joinTest) %}
                {{ stage('Metadata Update-Default') }}
                select 1=0
            {%- endif %}
        {%- endif %}
    {%- endif %}
{%- elif currentState != undefined and desiredState == undefined %}

    {{ stage('Drop ' + currentState.node.materializationType) }}
    {%- set materialization = dropMaterialization(currentState.node.materializationType) %}
    DROP {{ materialization }} {{ nsNodeVariables.curObjectNameFullPath }}

{%- endif %}